html {
  font-family: $text;
  font-size: 16px;
  font-weight: bold;
}

h2,
h1 {
  font-family: $heading;
  font-weight: lighter;
}

h1 {
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;

  input {
    background: $blue;
    color: $white;
    font-size: 20px;
    font-family: $text-bold;
    padding: 15px;
    border-radius: 10px;
    margin: 20px;

    &:hover:not(:disabled),
    &:focus {
      background: $orange;
      color: #000;
    }

    &:disabled {
      background: $white;
      color: darken($white, 25%);
      opacity: 0.6;
    }
  }
}
