html {
  font-family: $text;
  font-size: 16px;
  font-weight: bold;
}

body {
  background-color: #ffffff;
}

h2,
h1 {
  font-family: $heading;
  font-weight: lighter;
}

h1 {
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;

  input {
    background: $blue;
    color: $white;
    font-size: 20px;
    font-family: $text-bold;
    padding: 15px;
    border-radius: 10px;
    margin: 20px;

    &:hover:not(:disabled),
    &:focus {
      background: $orange;
      color: #000;
    }

    &:disabled {
      background: $white;
      color: darken($white, 25%);
      opacity: 0.6;
    }
  }
}

#back-to-top {
  width: 80px;
  height: 0;
  text-align: center;
  background-color: $blue;
  box-shadow: 2px 2px 5px #ccc;
  position: fixed;
  bottom: -20px;
  right: 20px;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    background-color: lighten($white, 5%);

    i {
      color: $blue;
    }
  }

  i {
    font-size: 60px;
    color: $white;
  }
}

/* Animated spinner from W3schools */
.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid $yellow;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: auto;
  margin-bottom: 15px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
