/* ###   Colors   ### */
$blue: #003049;
$red: #d62828;
$orange: #f77f00;
$yellow: #fcbf49;
$white: #eae2b7;

/* ### Fonts ### */
@font-face {
  font-family: "Quicksand regular";
  src: url(../fonts/Quicksand-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Quicksand bold";
  src: url(../fonts/Quicksand-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Alfa Slab One";
  src: url(../fonts/AlfaSlabOne-Regular.ttf) format("truetype");
}

$heading: "Alfa Slab One", serif;
$text: "Quicksand regular", sans-serif;
$text-bold: "Quicksand bold", sans-serif;

/* ### Misc ### */
$box-shadow: 4px 4px 10px rgb(160, 147, 147);
