/* ###   Colors   ### */
/* ### Fonts ### */
@font-face {
  font-family: 'Quicksand regular';
  src: url(../fonts/Quicksand-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Quicksand bold';
  src: url(../fonts/Quicksand-Bold.ttf) format("truetype");
}

@font-face {
  font-family: 'Alfa Slab One';
  src: url(../fonts/AlfaSlabOne-Regular.ttf) format("truetype");
}

/* ### Misc ### */
html {
  font-family: "Quicksand regular", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

body {
  background-color: #ffffff;
}

h2,
h1 {
  font-family: "Alfa Slab One", serif;
  font-weight: lighter;
}

h1 {
  text-align: center;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination input {
  background: #003049;
  color: #eae2b7;
  font-size: 20px;
  font-family: "Quicksand bold", sans-serif;
  padding: 15px;
  border-radius: 10px;
  margin: 20px;
}

.pagination input:hover:not(:disabled), .pagination input:focus {
  background: #f77f00;
  color: #000;
}

.pagination input:disabled {
  background: #eae2b7;
  color: #cdba54;
  opacity: 0.6;
}

.beer-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.beer-card-wrapper .card-wrapper {
  max-width: 300px;
  margin: 15px;
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  -webkit-box-shadow: 4px 4px 10px #a09393;
          box-shadow: 4px 4px 10px #a09393;
  padding: 15px;
  border-radius: 10px;
}

.beer-card-wrapper .card-wrapper:hover {
  -webkit-box-shadow: 2px 2px 14px #fcbf49;
          box-shadow: 2px 2px 14px #fcbf49;
  cursor: pointer;
}

.beer-card-wrapper .card-wrapper button {
  margin-left: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px;
  background-color: #003049;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px #ccc;
          box-shadow: 2px 2px 2px #ccc;
  color: #eae2b7;
}

.beer-card-wrapper .card-wrapper button i {
  margin: 0 10px;
  font-size: 16px;
}

.beer-card-wrapper .card-wrapper h2,
.beer-card-wrapper .card-wrapper .tagline,
.beer-card-wrapper .card-wrapper .brew-date {
  text-align: center;
}

.beer-card-wrapper .card-wrapper .tagline {
  font-weight: normal;
}

.beer-card-wrapper .card-wrapper .image-card {
  width: 50%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px auto;
  background-position: center;
}

.beer-card-wrapper .card-wrapper .brew-date div {
  display: block;
  font-family: "Quicksand bold", sans-serif;
}

.beer-card-wrapper .recipe {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  left: -999999px;
  top: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  -webkit-box-shadow: 4px 4px 10px #a09393;
          box-shadow: 4px 4px 10px #a09393;
}

.beer-card-wrapper .recipe h2,
.beer-card-wrapper .recipe .recipe-notes {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.beer-card-wrapper .recipe h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.beer-card-wrapper .recipe h3 {
  background: #fcbf49;
  padding: 10px 30px;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 25px;
  font-family: "Alfa Slab One", serif;
  font-weight: lighter;
  margin: 0;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

.beer-card-wrapper .recipe .recipe-notes {
  height: 100%;
}

.beer-card-wrapper .recipe .recipe-ingredients,
.beer-card-wrapper .recipe .recipe-basics,
.beer-card-wrapper .recipe .recipe-method,
.beer-card-wrapper .recipe .recipe-tip {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin: 15px;
  margin-top: 0;
  padding: 0;
  text-transform: capitalize;
}

.beer-card-wrapper .recipe .recipe-ingredients ul,
.beer-card-wrapper .recipe .recipe-basics ul,
.beer-card-wrapper .recipe .recipe-method ul {
  padding: 0;
}

.beer-card-wrapper .recipe .recipe-ingredients li,
.beer-card-wrapper .recipe .recipe-ingredients .yeast,
.beer-card-wrapper .recipe .recipe-basics li,
.beer-card-wrapper .recipe .recipe-basics .yeast,
.beer-card-wrapper .recipe .recipe-method li,
.beer-card-wrapper .recipe .recipe-method .yeast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #fcbf49;
  padding: 0 10px;
  margin: 5px;
}

.beer-card-wrapper .recipe .recipe-ingredients li span:first-child,
.beer-card-wrapper .recipe .recipe-ingredients .yeast span:first-child,
.beer-card-wrapper .recipe .recipe-basics li span:first-child,
.beer-card-wrapper .recipe .recipe-basics .yeast span:first-child,
.beer-card-wrapper .recipe .recipe-method li span:first-child,
.beer-card-wrapper .recipe .recipe-method .yeast span:first-child {
  width: 55%;
}

.beer-card-wrapper .recipe .recipe-ingredients li span,
.beer-card-wrapper .recipe .recipe-ingredients .yeast span,
.beer-card-wrapper .recipe .recipe-basics li span,
.beer-card-wrapper .recipe .recipe-basics .yeast span,
.beer-card-wrapper .recipe .recipe-method li span,
.beer-card-wrapper .recipe .recipe-method .yeast span {
  width: 45%;
}

.beer-card-wrapper .recipe .recipe-ingredients .hops li,
.beer-card-wrapper .recipe .recipe-basics .hops li,
.beer-card-wrapper .recipe .recipe-method .hops li {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 0;
}

.beer-card-wrapper .recipe .recipe-ingredients .hops span,
.beer-card-wrapper .recipe .recipe-basics .hops span,
.beer-card-wrapper .recipe .recipe-method .hops span {
  border-bottom: 1px solid #fcbf49;
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
}

.beer-card-wrapper .recipe .recipe-ingredients .hops span:first-child,
.beer-card-wrapper .recipe .recipe-ingredients .hops span:nth-child(3),
.beer-card-wrapper .recipe .recipe-basics .hops span:first-child,
.beer-card-wrapper .recipe .recipe-basics .hops span:nth-child(3),
.beer-card-wrapper .recipe .recipe-method .hops span:first-child,
.beer-card-wrapper .recipe .recipe-method .hops span:nth-child(3) {
  -ms-flex-preferred-size: 53%;
      flex-basis: 53%;
}

.beer-card-wrapper .recipe .recipe-ingredients .yeast,
.beer-card-wrapper .recipe .recipe-basics .yeast,
.beer-card-wrapper .recipe .recipe-method .yeast {
  margin-top: 16px;
}

.beer-card-wrapper .recipe .recipe-basics {
  -webkit-column-break-before: left;
          break-before: left;
}

.beer-card-wrapper .recipe .recipe-basics .recipe-icon {
  margin-bottom: 6px;
}

.beer-card-wrapper .recipe .recipe-basics span {
  max-width: 30%;
}

.beer-card-wrapper .recipe .recipe-method {
  -webkit-column-break-before: left;
          break-before: left;
}

.beer-card-wrapper .recipe .recipe-method div:not(.recipe-icon) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin: 5px;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 20px;
  font-family: "Quicksand bold", sans-serif;
  border-bottom: 1px solid #fcbf49;
}

.beer-card-wrapper .recipe .recipe-method div:not(.recipe-icon) span {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.beer-card-wrapper .recipe .recipe-method p {
  padding: 10px;
  margin: 15px 5px 0 15px;
  font-style: italic;
  color: #003049;
  text-transform: none;
}

.beer-card-wrapper .recipe .recipe-method h4 {
  margin: 5px;
  font-family: "Quicksand bold", sans-serif;
  padding: 5px 10px;
}

.beer-card-wrapper .recipe .recipe-tip {
  text-transform: none;
}

.beer-card-wrapper .recipe .recipe-notes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 4%;
}

.beer-card-wrapper .recipe .recipe-notes .underlined {
  width: 25%;
  border-bottom: 1px solid #fcbf49;
}

.recipe-icon {
  width: 50px;
  height: 50px;
  background-size: 170%;
  margin-bottom: -10px;
  margin-top: 10px;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

.search-box {
  text-align: center;
  padding: 20px;
  font-size: 20px;
  width: 90%;
  margin: auto;
}

.search-box h2 {
  color: #003049;
  margin: 5px;
  font-size: 20px;
}

.search-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px #fcbf49 solid;
  padding: 20px;
}

.search-box form label {
  -ms-flex-preferred-size: 9%;
      flex-basis: 9%;
  position: relative;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.search-box form label input[type='radio'] {
  padding: 5px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
}

.search-box form label input[type='radio']:checked ~ .checkbox {
  border-color: #f4a304;
  background-color: #fcbf49;
}

.search-box form label input[type='radio']:checked ~ .checkbox:focus {
  background-color: #f77f00;
}

.search-box form label input[type='radio']:checked ~ .checkbox:after {
  display: block;
}

.search-box form label .checkbox {
  position: absolute;
  top: -5px;
  left: 0;
  height: 26px;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid #fcbf49;
  -webkit-box-shadow: 2px 2px 2px #cccccc;
          box-shadow: 2px 2px 2px #cccccc;
  white-space: nowrap;
  min-width: 115px;
}

.search-box form label .checkbox:hover, .search-box form label .checkbox:focus {
  -webkit-box-shadow: 2px 2px 2px #999999;
          box-shadow: 2px 2px 2px #999999;
  background: #f77f00;
}

.search-box form input[type='text'] {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  max-width: 40%;
  font-size: 20px;
  padding: 5px 10px;
  margin: 50px 0 10px 10px;
  margin-right: 0;
  border-radius: 5px 0 0 5px;
  border: 1px solid black;
}

.search-box form #search-button {
  border: 1px solid black;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  background: #003049;
  color: #fff;
  font-size: 20px;
  font-family: "Quicksand bold", sans-serif;
  padding: 5px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0 5px 5px 0;
  margin: 50px 10px 10px 0;
  max-width: 120px;
  -webkit-box-shadow: 2px 2px 2px #ccc;
          box-shadow: 2px 2px 2px #ccc;
}

.search-box form #search-button:hover:not(:disabled), .search-box form #search-button:focus {
  background: #f77f00;
  color: #000;
}

.search-box label {
  margin: 20px;
}

.search-box .select-wrap {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 25%;
}

.search-box .select-wrap label {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  white-space: nowrap;
}

.search-box .select-wrap select {
  margin: 0 15px;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 3px;
}

.search-box .select-wrap select option {
  font-size: 16px;
  padding: 10px;
}
/*# sourceMappingURL=main.css.map */